.searchBar {
	align-self: normal;
	display: flex;
	align-items: center;
	margin: 2rem 3rem 0 3rem;
	justify-content: space-between;
	width: 90%;
}
.searchInput {
	display: flex;
	width: 60%;
}

.inp-div {
	width: 70%;
}
.inp {
	width: 100%;
}

.searchInput button {
	width: 28%;
}

.searchInput .lbl {
	display: none;
}
